@{
  ViewBag.Title = "Test Index";
}
<div>
  <h2>CoffeeScript</h2>
  <a href="@Url.Content("~/Scripts/class.js")">class.coffee</a>
  <a href="@Url.Content("~/Scripts/class.min.js")">class.coffee (min)</a>
  <a href="@Url.Content("~/Scripts/class.bare.js")">class.coffee (bare)</a>
  <a href="@Url.Content("~/Scripts/class.bare.min.js")">class.coffee (min, bare)</a>
  <a href="@Url.Content("~/Scripts/main.js")">main.coffee</a>
  <a href="@Url.Content("~/Scripts/main.min.js")">main.coffee (min)</a>
  <a href="@Url.Content("~/Scripts/main.bare.js")">main.coffee (bare)</a>
  <a href="@Url.Content("~/Scripts/main.bare.min.js")">main.coffee (min, bare)</a>
</div>
<div>
  <h2>Combine</h2>
  <a href="@Url.Content("~/Scripts/debug_all.js")">debug_all.combine</a>
  <a href="@Url.Content("~/Scripts/prod_all.js")">prod_all.combine</a>
</div>
<div>
  <h2>SCSS</h2>
  <a href="@Url.Content("~/Content/style.css")">style.scss</a>
  <a href="@Url.Content("~/Content/style.min.css")">style.scss (min)</a>
</div>
<div>
  <h2>CSS</h2>
  <a href="@Url.Content("~/Content/Site.css")">Site.css</a>
  <a href="@Url.Content("~/Content/Site.min.css")">Site.css (min)</a>
</div>
<div>
  <h2>Sass</h2>
  <p>TODO</p>
</div>