@{
  ViewBag.Title = "Test Index";
}
<div>
    <h2>CoffeeScript</h2>
    <a href="@Url.Content("~/Scripts/classFromCoffee.js")">classFromCoffee.coffee</a>
    <a href="@Url.Content("~/Scripts/classFromCoffee.min.js")">classFromCoffee.coffee (min)</a>
    <a href="@Url.Content("~/Scripts/classFromCoffee.bare.js")">classFromCoffee.coffee (bare)</a>
    <a href="@Url.Content("~/Scripts/classFromCoffee.bare.min.js")">classFromCoffee.coffee (min, bare)</a>
    <a href="@Url.Content("~/Scripts/mainFromCoffee.js")">mainFromCoffee.coffee</a>
    <a href="@Url.Content("~/Scripts/mainFromCoffee.min.js")">mainFromCoffee.coffee (min)</a>
    <a href="@Url.Content("~/Scripts/mainFromCoffee.bare.js")">mainFromCoffee.coffee (bare)</a>
    <a href="@Url.Content("~/Scripts/mainFromCoffee.bare.min.js")">mainFromCoffee.coffee (min, bare)</a>
</div>
<div>
  <h2>TypeScript</h2>
  <a href="@Url.Content("~/Scripts/classFromTS.js")">classFromTS.ts</a>
  <a href="@Url.Content("~/Scripts/classFromTS.min.js")">classFromTS.ts (min)</a>
  <a href="@Url.Content("~/Scripts/classFromTS.bare.js")">classFromTS.ts (bare)</a>
  <a href="@Url.Content("~/Scripts/classFromTS.bare.min.js")">classFromTS.ts (min, bare)</a>
  <a href="@Url.Content("~/Scripts/mainFromTS.js")">mainFromTS.ts</a>
  <a href="@Url.Content("~/Scripts/mainFromTS.min.js")">mainFromTS.ts (min)</a>
  <a href="@Url.Content("~/Scripts/mainFromTS.bare.js")">mainFromTS.ts (bare)</a>
  <a href="@Url.Content("~/Scripts/mainFromTS.bare.min.js")">mainFromCoffee.ts (min, bare)</a>
</div>
<div>
  <h2>Combine</h2>
  <a href="@Url.Content("~/Scripts/debug_all.js")">debug_all.combine</a>
  <a href="@Url.Content("~/Scripts/prod_all.js")">prod_all.combine</a>
</div>
<div>
  <h2>SCSS</h2>
  <a href="@Url.Content("~/Content/style.css")">style.scss</a>
  <a href="@Url.Content("~/Content/style.min.css")">style.scss (min)</a>
</div>
<div>
  <h2>Sass</h2>
  <p>TODO</p>
</div>